body{
    text-align: center;
    padding: 100px;
    font-family: Raleway;
}

.logo{
    width: 170px;
    
}
.title{
    font-style: normal;
    font-weight: bolder;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}
.subtitle{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}
.fill{
    padding-left: 400px;
    padding-right: 400px;
    height: 100px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
}
.col{
    float: left;
    width: 50%;
    line-height: 25px ;
}
#info{
    float: right;
}
.submitButton{
    padding: 50px;
}


